<div class="animate-fade-in container mx-auto p-6">
    <div class="flex justify-between items-center mb-8">
        <h1 class="text-3xl font-bold text-gray-800">Gestion des formations</h1>
        <div class="flex gap-3">
            <button (click)="fetchFormations()" [disabled]="isLoading"
                class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg shadow-sm text-sm font-medium hover:bg-gray-200 transition-colors flex items-center disabled:opacity-50 disabled:cursor-not-allowed">
                <i *ngIf="!isLoading" class="fa-solid fa-rotate-right mr-2"></i>

                <svg *ngIf="isLoading" class="animate-spin h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>

                {{ isLoading ? 'Actualisation...' : 'Actualiser' }}
            </button>
        </div>

       

    </div>
    <div class="space-y-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div *ngFor="let formation of formations" class="col-span-1">
                <app-condidat-formation-card [formation]="formation"
                    (viewDetails)="onViewDetails($event)"></app-condidat-formation-card>
            </div>
        </div>
    
        <div *ngIf="formations.length === 0 && !isLoading" class="text-center py-10">
            <p class="text-gray-500 text-lg">Aucune formation ne correspond à votre recherche.</p>
        </div>
    </div>
</div>

<!-- <app-condidat-formation-card [formation]="candidateFormation"
    (viewDetails)="onViewDetails($event)"></app-condidat-formation-card> -->