<div class="min-h-screen bg-gray-50 p-8 relative">

    <!-- Countdown Timer -->
    <div *ngIf="countdownState !== 'finished' && !loading && formation && countdownText !== ''" [ngClass]="{
             'bg-gradient-to-tr from-green-600 to-green-400 shadow-green-100': countdownState === 'upcoming',
             'bg-gradient-to-r from-red-400 to-pink-500': countdownState === 'ongoing'
           }"
        class="fixed top-6 right-6 text-white p-4 rounded-full shadow-md flex items-center space-x-3 animate-fade-in duration-700">
        <svg class="w-6 h-6 animate-pulse" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span class="text-sm font-medium">
            {{ countdownState === 'upcoming' ? ('Commence dans ' + countdownText) : ('Termine dans ' + countdownText) }}
        </span>
    </div>


    <!-- Loading State -->
    <div *ngIf="loading" class="flex justify-center items-center h-screen">
        <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
    </div>

    <!-- Error State -->
    <div *ngIf="error" class="p-4 max-w-4xl mx-auto">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Erreur!</strong>
            <span class="block sm:inline">{{ error }}</span>
        </div>
    </div>

    <!-- Formation Data -->
    <div *ngIf="formation && !loading" class="max-w-4xl  space-y-8">
        <!-- Header -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-between mb-4">
                <div class="flex items-center gap-2">
                    <span class="text-gray-500 font-medium text-lg">Titre: </span>
                    <span class="text-xl font-extrabold text-gray-700 inline uppercase">{{ formation.title }}</span>
                </div>
                <span class="px-4 py-1 bg-blue-100 text-blue-800 rounded-full text-sm">
                    {{ formation.category }}
                </span>
            </div>
            <div class="mb-4">
                <span class="text-gray-500 font-medium text-md">Description: </span>
                <p class="text-gray-600 text-base inline">{{ formation.description }}</p>
            </div>
            <div>
                <span class="text-gray-500 font-medium text-md">Contenu: </span>
                <div class="prose max-w-none inline text-gray-600 text-base" [innerHTML]="formation.content"></div>
            </div>
        </div>

        <!-- Sessions -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-bold text-gray-900 mb-4">Sessions de Formation</h2>
            <div class="space-y-3">
                <div *ngFor="let session of formation.sessions" class="p-3 border rounded-lg hover:bg-gray-50">
                    <div class="flex justify-between items-center">
                        <div>
                            <h3 class="font-semibold text-lg text-gray-900">{{ session.sessionTitle }}</h3>
                            <div class="flex items-center gap-2">
                                <p class="text-sm text-gray-600">
                                    {{ session.startDate | date }} - {{ session.endDate | date }}
                                </p>
                                <span [ngClass]="getSessionStatusClass(session)" class="text-xs font-medium">
                                    ({{ getSessionStatusMessage(session) }})
                                </span>
                            </div>

                            <!-- Affichage du résultat si l'utilisateur a déjà passé le test -->
                            <div *ngIf="session.hasAttempted" class="mt-2">
                                <!-- Réussite -->
                                <div *ngIf="session.score >= 70" class="flex items-center text-green-600">
                                    <i class="fas fa-check-circle mr-2"></i>
                                    <span class="font-medium">Félicitations ! Vous avez réussi avec un score de {{
                                        session.score }}%</span>
                                </div>

                                <!-- Échec -->
                                <div *ngIf="session.score < 70" class="flex items-center text-red-600">
                                    <i class="fas fa-times-circle mr-2"></i>
                                    <span class="font-medium">Vous n'avez pas réussi le test. Score : {{ session.score
                                        }}%</span>
                                </div>
                            </div>
                        </div>

                        <!-- Bouton de test si disponible et dans la période de la session -->
                        <a *ngIf="canTakeQuiz(session)" [routerLink]="['/condidat/validate-quiz', session.sessionId]"
                            class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-xl text-sm font-medium flex items-center transition-colors cursor-pointer gap-2">
                            <span>Passer le test</span>
                            <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M14 5l7 7m0 0l-7 7m7-7H3" />
                            </svg>
                        </a>

                        <!-- Message si le quiz est disponible mais hors période -->
                        <div *ngIf="session.canRepass && !canTakeQuiz(session)"
                            class="px-4 py-2 bg-gray-200 text-gray-700 rounded-xl text-sm font-medium flex items-center">
                            <i class="fas fa-clock mr-2"></i>
                            <span>{{ getSessionStatusMessage(session) }}</span>
                        </div>

                        <!-- Badge de statut -->
                        <div *ngIf="!session.canRepass" class="flex flex-col items-end">
                            <!-- Badge de réussite -->
                            <span *ngIf="session.score >= 70"
                                class="px-3 py-1 bg-green-100 text-green-800 rounded-full text-sm flex items-center">
                                <i class="fas fa-trophy mr-1"></i>
                                Réussi
                            </span>

                            <!-- Badge d'échec -->
                            <span *ngIf="session.hasAttempted && session.score < 70"
                                class="px-3 py-1 bg-red-100 text-red-800 rounded-full text-sm flex items-center">
                                <i class="fas fa-exclamation-circle mr-1"></i>
                                Non réussi
                            </span>

                            <!-- Badge générique si pas de score -->
                            <span *ngIf="!session.hasAttempted"
                                class="px-3 py-1 bg-gray-100 text-gray-800 rounded-full text-sm">
                                Terminé
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="formation.sessions.length===0" class="flex">

                    <a
                        class="nosession-group w-full relative group border rounded-lg p-4 bg-red-200/20 transition-colors">
                        <div class="flex items-center space-x-3">
                            <img src="/assets/icons/nofile.svg" alt="File Icon" class="w-14" />
                            <div>
                                <p class="font-medium text-gray-700 truncate !mb-0">
                                    Aucune Session
                                </p>
                                <p class="text-sm text-gray-500 truncate !mb-0">Aucune session disponible</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Modules -->
        <div class="space-y-6">
            <!-- Module List -->
            <div *ngFor="let module of formation.modules" class="bg-white rounded-lg shadow-md p-6">
                <div class="flex justify-between mb-4">
                    <div class="flex items-center gap-2">
                        <span class="text-gray-500 font-medium text-md">Titre : </span>
                        <h2 class="text-2xl font-bold text-gray-600 !mb-0">{{ module.title }}</h2>
                    </div>
                    <span class="text-gray-500 font-bold text-xs">Module {{ module.id }}</span>
                </div>

                <div class="flex items-center gap-2">
                    <span class="text-gray-500 font-medium text-md">Description : </span>
                    <p class="text-gray-500 text-lg font-medium !mb-0">{{ module.description }}</p>
                </div>
                <div class="w-full h-[1px] bg-gray-200 rounded-full my-4"></div>
                <!-- Attachments -->
                <div class="mt-4">
                    <h3 class="font-semibold text-lg text-gray-900 mb-3">Ressources</h3>
                    <div *ngIf="module.attachments.length > 0"
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                        <a *ngFor="let attachment of module.attachments" [href]="attachment.lien" target="_blank"
                            class="group border rounded-lg p-4 bg-secondary hover:border-blue-500 transition-colors">
                            <div class="flex items-center space-x-3">
                                <img [src]="getFileIcon(attachment.type)" alt="File Icon" class="w-14" />
                                <div>
                                    <p class="font-medium text-gray-700 group-hover:text-blue-600 truncate !mb-0">
                                        Fichier {{ attachment.type }}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate !mb-0">Cliquer pour voir</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="module.attachments.length === 0"
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

                        <a
                            class="group border rounded-lg p-4 bg-red-200/20 hover:border-blue-500 transition-colors cursor-none">
                            <div class="flex items-center space-x-3">
                                <img src="/assets/icons/nofile.svg" alt="File Icon" class="w-14" />
                                <div>
                                    <p class="font-medium text-gray-700 group-hover:text-blue-600 truncate !mb-0">
                                        Aucun Fichier
                                    </p>
                                    <p class="text-sm text-gray-500 truncate !mb-0">Aucun fichier attaché</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

            <!-- No Modules Message -->
            <div *ngIf="formation.modules.length === 0" class="bg-white rounded-lg shadow-md p-6">
                <h2 class="text-2xl font-bold text-gray-900 mb-4">Modules de Formation</h2>

                <div class="flex">
                    <a class="w-full relative group border rounded-lg p-4 bg-red-200/20 transition-colors">
                        <div class="flex items-center space-x-3">
                            <img src="/assets/icons/nofile.svg" alt="File Icon" class="w-14" />
                            <div>
                                <p class="font-medium text-gray-700 truncate !mb-0">
                                    Aucun Module
                                </p>
                                <p class="text-sm text-gray-500 truncate !mb-0">Aucun module attaché</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>