.nosession-group {
    position: relative;
    overflow: hidden;

    button {
        position: absolute;
        top: 50%;
        right: -100px;
        transform: translateY(-50%);
        transition: right 0.5s ease-in-out; // Smooth movement
    }

    &:hover {
        button {
            right: 10px;
        }
    }
}